---
// Click sparks are now provided site-wide by <GlobalClickSpark /> in index.astro.
import StartButton from "../StartButton";
---

<section id="waitlist" class="lp-section lp-waitlist">
  <div class="lp-container">
    <h2 class="lp-title">Stop shipping first drafts.</h2>

    <div class="lp-waitlist-action">
      <StartButton client:visible size="lg" />
    </div>
  </div>
</section>
